- type: job
  parent: CMSurvivorGoon
  id: CMSurvivorLV624SecurityGuard
  name: rmc-job-name-pmc-corporate-goon-secguard
  startingGear: RMCGearSurvivorLV624SecurityGuard
  hasIcon: true
  icon: RMCJobIconWeYaSec
  spawnMenuRoleName: WeYa Security Guard (LV624 Survivor)
  accessGroups:
  - ColonistSec
  - ColonistCorporate
  special:
  - !type:AddComponentSpecial
    components:
    - type: Skills
      preset: SurvivorGoon
    - type: RMCSurvivor
    - type: MotionDetectorTracked
    - type: NpcFactionMember
      factions:
      - WeYa
      - Civilian
    - type: IntelRescueSurvivorObjective
    - type: RMCAllowSuitStorage
    - type: EquipSurvivorPreset
      preset: RMCSurvivorPresetSecurity
    - type: TacticalMapIcon
      icon:
        sprite: /Textures/_RMC14/Interface/map_blips.rsi
        state: cmp
      background:
        sprite: /Textures/_RMC14/Interface/map_blips.rsi
        state: background_goon

- type: startingGear
  parent: RMCGearSurvivorBase
  id: RMCGearSurvivorLV624SecurityGuard
  equipment:
    shoes: RMCBootsCorporate
    id: RMCIDCardWeYaCorporateSecurity
    back: RMCSatchelLightpackSurvivorFill
    ears: RMCHeadsetDistressWeYa
    gloves: RMCHandsVeteran
    belt: RMCBeltSecurityWeYaFilled
    outerClothing: CMArmorM4PMCCorporateLead

- type: entity
  parent: CMSpawnPointJobBase
  id: RMCSpawnPointSurvivorLV624SecurityGuard
  name: survivor lv624 weya secguard spawn point
  components:
  - type: SpawnPoint
    job_id: CMSurvivorLV624SecurityGuard
  - type: Sprite # TODO: Replace with landmark sprite
    layers:
    - sprite: Markers/jobs.rsi
      state: green
    - sprite: _RMC14/Markers/cm_jobs.rsi
      state: survivor

- type: entity
  parent: RMCSurvivorPresetSecurity
  id: RMCGearSurvivorPresetLV624SecurityGuard
  name: lv624 security guard colonist preset
  categories: [ HideSpawnMenu ]
  components:
  - type: SurvivorPreset
    primaryWeapons:
    - [ RMCWeaponSMGP90, RMCPouchMagazineFilledP90 ]
    primaryWeaponChance: 1
    randomOutfits:
    - [ RMCHeadCapWestonYamadaDark, RMCJumpsuitVeteranPMCHybrisa ]
    - [ RMCArmorHelmetPMCCorporateHybrisa, RMCJumpsuitVeteranPMCHybrisa ]
    - [ RMCArmorHelmetPMCCorporateHybrisa, RMCJumpsuitVeteranPMCHybrisa ]
    - [ RMCArmorHelmetPMCCorporateHybrisa, RMCJumpsuitVeteranPMCHybrisa ]
    - [ ArmorHelmetPMCOfficer, RMCJumpsuitVeteranPMCHybrisaLead ]
