- type: job
  parent: CMSurvivorGoon
  id: CMSurvivorLV624SecurityGuard
  name: rmc-job-name-survivor-lv624-security-guard
  description: cm-job-description-survivor
  startingGear: RMCGearSurvivorLV624SecurityGuard
  spawnMenuRoleName: We-Ya Guard (LV624 Survivor)
  hasIcon: true
  special:
  - !type:AddComponentSpecial
    components:
    - type: Skills
      preset: SurvivorGoon
    - type: RMCSurvivor
    - type: MotionDetectorTracked
    - type: NpcFactionMember
      factions:
      - WeYa
      - Civilian
    - type: IntelRescueSurvivorObjective
    - type: RMCAllowSuitStorage
    - type: EquipSurvivorPreset
      preset: RMCGearSurvivorPresetLV624SecurityGuard
  useLoadoutOfJob: CMSurvivorSecurity # for inheritance

- type: startingGear
  parent: RMCGearSurvivorBase
  id: RMCGearSurvivorLV624SecurityGuard
  equipment:
    shoes: RMCBootsCorporate
    id: RMCIDCardWeYaCorporateSecurity
    back: RMCSatchelLightpackSurvivorFill
    ears: RMCHeadsetDistressWeYa
    gloves: RMCHandsVeteran
    belt: RMCBeltSecurityWeYaFilled
    outerClothing: CMArmorM4PMCCorporateLead

- type: entity
  parent: CMSpawnPointJobBase
  id: RMCSpawnPointSurvivorLV624SecurityGuard
  name: survivor lv624 security guard spawn point
  components:
  - type: SpawnPoint
    job_id: CMSurvivor
  - type: Sprite # TODO: Replace with landmark sprite
    layers:
    - sprite: Markers/jobs.rsi
      state: green
    - sprite: _RMC14/Markers/cm_jobs.rsi
      state: survivor

- type: entity
  parent: RMCSurvivorPresetSecurity
  id: RMCGearSurvivorPresetLV624SecurityGuard
  name: lv624 security guard colonist preset
  categories: [ HideSpawnMenu ]
  components:
  - type: SurvivorPreset
    primaryWeapons:
    - [ RMCWeaponSMGP90, RMCPouchMagazineFilledP90 ]
    primaryWeaponChance: 1
    randomOutfits:
    - [ RMCHeadCapWestonYamadaDark, RMCJumpsuitVeteranPMCHybrisa ]
    - [ RMCArmorHelmetPMCCorporateHybrisa, RMCJumpsuitVeteranPMCHybrisa ]
    - [ RMCArmorHelmetPMCCorporateHybrisa, RMCJumpsuitVeteranPMCHybrisa ]
    - [ RMCArmorHelmetPMCCorporateHybrisa, RMCJumpsuitVeteranPMCHybrisa ]
    - [ ArmorHelmetPMCOfficer, RMCJumpsuitVeteranPMCHybrisaLead ]
